@import url("https://fonts.googleapis.com/css2?family=Onest&family=Rubik&family=Yantramanav&display=swap");

/* font-family: 'Onest', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Yantramanav', sans-serif; */

:root {
  --white-amber: #fffbeb;
  --dark-amber: #ee9322;
  --secondary: #d4d4d4;
}

body {
  min-height: 100vh;
  font-family: "Onest", sans-serif;
  /* background-color: var(--white-amber); */
}

img {
  object-fit: cover;
}

.radius-15 {
  border-radius: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.bg-dark-amber {
  background-color: var(--dark-amber);
}
