@import url("https://fonts.googleapis.com/css2?family=Onest&family=Rubik&family=Yantramanav&display=swap");

/* font-family: 'Onest', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Yantramanav', sans-serif; */

:root {
  --white-amber: #fffbeb;
  --dark-amber: #d97706;
  --secondary: #d4d4d4;
}

body {
  min-height: 100vh;
  font-family: "Onest", sans-serif;
  /* background-color: var(--white-amber); */
}

img {
  object-fit: cover;
}

.w-fit {
  width: fit-content;
}

.radius-10 {
  border-radius: 10px;
}

.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}

.fs-22 {
  font-size: 22px;
}

.bg-dark-amber {
  background-color: var(--dark-amber);
}
