li {
  list-style: none;
}

/* header.php */

.hovering-navbar:hover {
  font-weight: bold;
}

.nav-active {
  background-color: var(--white-amber);
  box-shadow: 0px 3px 5px rgba(223, 223, 223, 0.5);
  animation: slide-down 0.5s ease forwards;
}

/* store.php */

.card-style {
  width: 15rem;
  border-radius: 10px;
  color: #000000;
}

.card-style:hover {
  background-color: rgb(237, 237, 237);
  color: #000;
  transition: heigth 1s;
}
.card-style:hover img {
  box-shadow: 0px 5px 5px rgb(195, 195, 195);
}

.accordion {
  border-width: 0;
}

.py-6 {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

/* MEDIA SCREEN */
@media (width <= 800px) {
  .card-style {
    width: 20rem;
  }
}

@media (width <= 400px) {
  /* .py-6 {
    padding-top: 5rem;
    padding-bottom: 3rem;
  } */
}

/* ANIMATION */
@keyframes slide-down {
  from {
    height: 0;
  }
  to {
    height: fit-content;
  }
}
